<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="./css/public.css">
{literal}
<style>
  #ppp a{margin:10px;display:inline-block;border:#ccc solid 1px;padding:5px 10px;color:#087eac;}
  #ppp{
    text-align: center;
  }

</style>
{/literal}
</head>

<body>
<div  id="main">
<table width="80%"  border="0" cellspacing="0" cellpadding="0" class="news_table" id="tt">
  <caption>
    新闻分类列表
  </caption>
  <tr>
    <th scope="col">编号</th>
    <th scope="col" width="100">分类名称</th>
    <th scope="col">添加人</th>
    <th scope="col">时间</th>
    <th scope="col">操作</th>
  </tr>
  {foreach from=$arr item=it}
  <tr>
    <td>{$it.cid}</td>
    <td>{$it.cname}</td>
    <td>{$it.add_author}</td>
    <td>{$it.ctime}</td>
    <td><a href="#" onclick="del({$it.cid})">删除</a>/<a href="#">修改</a></td>
  </tr>
  {/foreach}
</table>
<p id="ppp">{$nav}</p>

</div>
</body>
</html>
<script src="jquery1.8.js"></script>
{literal}
<script>
  
  function del(id){
    if(confirm("您确定要删除吗")){
      $.ajax({
        url:"del.php",
        data:{'id':id},
        success:function(e){
          if(e==1){
            alert('删除成功');location.href='cate_list.php';
          }else{
            alert('删除失败');
          }
        }
      })
    }
    
  }

  function pagep(nowpage){   
    var  str="<caption>新闻列表</caption><tr><th scope='col'>编号</th><th scope='col' width='100'>分类名称</th><th scope='col'>添加人</th><th scope='col' width='200'>时间</th><th scope='col'>操作</th></tr>";
    $.ajax({
      url:"cate_ajax.php",     
      data:{"nowpage":nowpage},
      dataType:'json',
      success:function(o){
        for(var k in o){
          str+="<tr><td>"+o[k].cid+"</td><td>"+o[k].cname+"</td><td>"+o[k].add_author+"</td><td>"+o[k].ctime+"</td><td><a href='#' onclick='del("+o[k].cid+")'>删除</a>||<a href='#'>修改</a></td></tr>";        
        }
          $("#tt").html(str);
        }
    })
  }
</script>
{/literal}